In [1]:
a=3;
b=4;
c=a*b;
print(c);

12

In [2]:
m=5;
s=3;
w=m*s;
print(w);

15

In [3]:
p=9;
q=3;
r=p*q;
print(r);

27

In [4]:
l=3;
j=22;
h=l*j;
print(h);

66

In [5]:
a=4;
b=2;
c=a/b;
print(c);

2.0

In [6]:
m=20;
s=2;
w=m/s;
print(w);

10.0

In [7]:
p=45;
q=5;
r=p/q;
print(r);

9.0

In [8]:
c=36;
b=6;
a=c/b;
print(a);

6.0

In [9]:
print(type(a))

<class 'float'>

In [10]:
print("Laiba");

Laiba

In [11]:
# concatenation two strings are combine togrther is known as concatenation
name="Moiz"
print("My name is " + name)

My name is Moiz

In [12]:
name="nadia";
print("my name is"+name);

my name isnadia

In [13]:
name="arshad";
print("my name is" +name);

my name isarshad

In [16]:
name="laiba";
print("my name is " + name);

my name is laiba

In [15]:
name="laiba";
print("my name is" + name);

my name islaiba

In [17]:
name="faizi";
print("my name is " + name);

my name is faizi

In [19]:
# if else statement
physics=60;
maths=78;
islamiat=69;
total=physics+maths+islamiat;
Average=total/3;
if Average >=90 and Average <=100:
    print("Your Grade is A+1");
elif Average >=80 and Average<=90:
    print("Your Grade is A+");
elif Average >=70 and Average<=80:
    print("Your Grade is A");
elif Average >=60 and Average <=70:
    print("Your Grade is B");
elif Average >=50 and Average <=60:
    print("Your Grade is C");
elif Average >=40 and Average <=50:
    print("Your Grade is D");
elif Average >=33 and Average<=40:
    print("Your Grade is E");
elif Average <=32:
    print("You are Fail ");
else:
    print("Invalid Marks!")

Your Grade is B